beautifulsoup4
bs4
cffi
click
cryptography
Flask
Flask-Cache
Flask-Cors
idna
itsdangerous
Jinja2
MarkupSafe
nltk
numpy
oauthlib
paramiko
pyasn1
pycparser
pymongo
requests
requests-oauthlib
scikit-learn
scipy
six
sklearn
vaderSentiment
Werkzeug
