<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial=scale=1" name="viewport">
	<title>Contact</title>
	<link href="my_style.css" rel="stylesheet" type="text/css">
    <link href="css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
	<ul>
	  <li><a href="/">Home</a></li>
	  <li><a href="about.html">About</a></li>
	  <li><a class="active_tab" href="contact.html">Contact</a></li>
	</ul>

	<div class="container">
		<div class="row">
			<img src="contact_us.jpg" class="img-responsive" alt="Cinque Terre" align="middle" width="500" height="100" style="display: block; margin-left: auto; margin-right: auto; z-index: 1;">
		</div>


     <form class="form-horizontal" role="form">
     	<div class="form-group">
	    <label class="control-label col-sm-2" for="name">Name:</label>
	    <div class="col-sm-8">
	      <input type="text" class="form-control" id="email" placeholder="Name...">
	    </div>
	  </div>
	  <div class="form-group">
	    <label class="control-label col-sm-2" for="email">Email:</label>
	    <div class="col-sm-8">
	      <input type="email" class="form-control" id="email" placeholder="Email...">
	    </div>
	  </div>
	  <div class="form-group">
	    <label class="control-label col-sm-2" for="phone">Mobile:</label>
	    <div class="col-sm-8">
	      <input type="text" class="form-control" id="phone" placeholder="Mobile...">
	    </div>
	  </div>
	  <div class="form-group">
	    <label class="control-label col-sm-2" for="query">Query?</label>
	      <div class="col-sm-8">
	      <input type="text" class="form-control form-lg" id="query" placeholder="Query...">
	    </div>
	    </div>
	  </div>
	  <div class="form-group">
	    <div class="col-sm-offset-5 col-sm-7">
	      <button type="submit" class="btn btn-primary">Submit</button>
	    </div>
	  </div>
</form>


	</div>
</body>
</html>